In [1]:
import pandas as pd

In [2]:
dfo = pd.read_csv('export/PETR4.SA.csv')

In [3]:
dfo

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-07,16.610001,17.070000,16.340000,16.400000,16.398783,140498900.0
1,2020-04-08,16.500000,17.530001,16.400000,17.320000,17.318714,116151600.0
2,2020-04-09,17.940001,18.690001,16.500000,16.820000,16.818750,185771300.0
3,2020-04-13,16.820000,17.090000,16.330000,16.930000,16.928745,93724000.0
4,2020-04-14,17.020000,17.299999,16.610001,16.730000,16.728760,91017200.0
...,...,...,...,...,...,...,...
240,2021-03-30,23.639999,23.990000,23.570000,23.830000,23.830000,41959100.0
241,2021-03-31,23.799999,24.230000,23.780001,24.100000,24.100000,68609400.0
242,2021-04-01,24.290001,24.389999,23.780001,23.889999,23.889999,47232900.0
243,2021-04-05,24.129999,24.200001,23.680000,23.980000,23.980000,38337600.0
244,2021-04-06,24.180000,24.370001,23.910000,24.020000,24.020000,45934300.0